.game-container {
  text-align: center;
  padding: 50px;
  display: flex;
  justify-content: center;

  .deck {
    margin: 20px;
  }
}

.game-menu {
  text-align: center;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  border-radius: 3px;
}

.preload-images {
  visibility: hidden;
  height: 0;
  width: 0;
  overflow: hidden;
}
